@using WKEFSERVICE.Services;
@using WKEFSERVICE.Areas.A2.Models;
@using WKEFSERVICE.DataLayers;
@model C301MViewModel
@{
    Layout = "~/Views/Backend/_BackendMainLayout.cshtml";
}

@using (Html.BeginForm("SaveSignUp", "C301M", FormMethod.Post, htmlAttributes: new { id = "main_form", @class = "form-horizontal" }))
{
    @Html.HiddenFor(x => x.Detail.Seq)
    <section id="btMeeting" class="bt-section pt-0">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-sm-12">
                    <div class="t-panel bt-section-edit">
                        <div class="bt-section-header t-flex align-items-baseline justify-content-between">
                            <!-- 抬頭 -->
                            <div class="t-flex align-items-baseline">
                                <h3 class="bt-section-heading">會議查詢與報名</h3>
                                <p class="bt-section-para">提供教師可進行會議查詢功能</p>
                            </div>
                            <!-- 主按鈕 -->
                            <div class="t-flex">
                                <button type="button" class="btn btn--soft--dark btn--sm mr-2" onclick="doBack()">
                                    <i class="svg-icon mr-2" aria-hidden="true">
                                        <svg>
                                            <use href="#ic-arrow-l"></use>
                                        </svg>
                                    </i>
                                    回上一頁
                                </button>
                                @if (Model.Detail.isCanSignUp == 1)
                                {
                                    if (Model.Detail.isSignUp == 0)
                                    {
                                        <button type="button" class="btn btn--checked btn--sm" onclick="doSaveSignUp()" id="SaveBtn">
                                            <i class="svg-icon mr-2" aria-hidden="true">
                                                <svg>
                                                    <use href="#ic-save"></use>
                                                </svg>
                                            </i>
                                            我要報名
                                        </button>
                                    }
                                    else
                                    {
                                        <button type="button" class="btn btn--checked btn--sm" id="SaveBtn" readonly disabled>
                                            <i class="svg-icon mr-2" aria-hidden="true">
                                                <svg>
                                                    <use href="#ic-save"></use>
                                                </svg>
                                            </i>
                                            已報名
                                        </button>
                                    }
                                }
                            </div>
                        </div>
                        <!-- 主欄位 -->
                        <div class="bt-form-cnt" id="DisabledAll_Mst">
                            <div class="t-form t-txt-left">
                                <div class="t-form-inline">
                                    <div class="t-form-group">
                                        @Html.LabelFor(m => m.Detail.MeetingTypeName, new { @class = "t-form-label" })
                                        @Html.TextBoxFor(m => m.Detail.MeetingTypeName, new { @class = "t-form-control ml-4", @readonly = "", @disabled = "" })
                                    </div>
                                    <div class="t-form-group">
                                        @Html.LabelFor(m => m.Detail.UnitName, new { @class = "t-form-label" })
                                        @Html.TextBoxFor(m => m.Detail.UnitName, new { @class = "t-form-control ml-4", @readonly = "", @disabled = "" })
                                    </div>
                                </div>
                                <div class="t-form-inline">
                                    <div class="t-form-group">
                                        @Html.LabelFor(m => m.Detail.MeetingName, new { @class = "t-form-label" })
                                        @Html.TextBoxFor(m => m.Detail.MeetingName, new { @class = "t-form-control ml-4", @readonly = "", @disabled = "" })
                                    </div>
                                </div>
                                <div class="t-form-inline">
                                    <div class="t-form-group">
                                        @Html.LabelFor(m => m.Detail.MeetingDate, new { @class = "t-form-label" })
                                        @Html.TextBoxFor(m => m.Detail.MeetingDate, new { @class = "t-form-control ml-4", @readonly = "", @disabled = "" })
                                    </div>
                                    <div class="t-form-group">
                                        @Html.LabelFor(m => m.Detail.MeetingTime, new { @class = "t-form-label" })
                                        @Html.TextBoxFor(m => m.Detail.MeetingTime, new { @class = "t-form-control ml-4", @readonly = "", @disabled = "" })
                                    </div>
                                </div>
                                <div class="t-form-inline">
                                    <div class="t-form-group">
                                        @Html.LabelFor(m => m.Detail.Days, new { @class = "t-form-label" })
                                        @Html.TextBoxFor(m => m.Detail.Days, new { @class = "t-form-control ml-4", @readonly = "", @disabled = "" })
                                    </div>
                                    <div class="t-form-group">
                                        @Html.LabelFor(m => m.Detail.MaximumPeople, new { @class = "t-form-label" })
                                        @Html.TextBoxFor(m => m.Detail.MaximumPeople, new { @class = "t-form-control ml-4", @readonly = "", @disabled = "" })
                                    </div>
                                </div>
                                <div class="t-form-inline">
                                    <div class="t-form-group">
                                        @Html.LabelFor(m => m.Detail.Location, new { @class = "t-form-label" })
                                        @Html.TextBoxFor(m => m.Detail.Location, new { @class = "t-form-control ml-4", @readonly = "", @disabled = "" })
                                    </div>
                                </div>
                                <div class="t-form-inline">
                                    <div class="t-form-group">
                                        @Html.LabelFor(m => m.Detail.Address, new { @class = "t-form-label" })
                                        @Html.TextBoxFor(m => m.Detail.Address, new { @class = "t-form-control ml-4", @readonly = "", @disabled = "" })
                                    </div>
                                </div>
                                <div class="t-form-inline">
                                    <div class="t-form-group">
                                        @Html.LabelFor(m => m.Detail.SignUpDateTime, new { @class = "t-form-label" })
                                        @Html.TextBoxFor(m => m.Detail.SignUpDateTime, new { @class = "t-form-control ml-4", @readonly = "", @disabled = "" })
                                    </div>
                                </div>
                                <div class="t-form-inline">
                                    <div class="t-form-group">
                                        @Html.LabelFor(m => m.Detail.Remark, new { @class = "t-form-label" })
                                        @Html.TextAreaFor(m => m.Detail.Remark, new { @class = "t-form-control ml-4", @readonly = "", @disabled = "", style = "height:200px" })
                                    </div>
                                </div>
                                @if (Model.Detail.PicName.TONotNullString() != "")
                                {
                                    string tmpPic = new AMDAO().UploadPathC301M + Model.Detail.PicName.TONotNullString();
                                    <div class="t-form-inline">
                                        <div class="t-form-group">
                                            @Html.LabelFor(m => m.Detail.PicName, new { @class = "t-form-label" })
                                            <div class="t-form-control ml-4" readonly disabled>
                                                <img src="@tmpPic" width="200px" alt="@Model.Detail.PicName" />
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 附件明細 -->
                <div class="col-sm-12" id="DisabledAll_Det">
                    <div class="t-panel bt-section-result">
                        <div class="t-inner-sub-heading">相關檔案</div>
                        <div class="t-inner">
                            @Html.Partial("_DetailAttachedsRows", Model)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}

<script type="text/javascript">

    // 回上一頁
    function doBack() {
        blockUI();
        var form = $("form[id=main_form]");
        form.attr('action', '@Url.Action("Index", "C301M")').submit();
    }

    // 報名
    function doSaveSignUp() {
        blockConfirm("您是否確定要報名此會議？", null, function () {
            var form = $("form[id=main_form]");
            form.attr('action', '@Url.Action("SaveSignUp", "C301M")').submit();
        });
    }

    function doLog(Org, New) {
        $.ajax({
            url: "@Url.Action("FileDownloadLog", "Backend", new { area = "" })",
            data: { "Func": "A2/C301M", "Org": Org, "New": New },
            dataType: "json",
            method: "post",
            success: function (data) { },
            error: function (data) { }
        });
    }

</script>
