@using WKEFSERVICE.Services;
@using WKEFSERVICE.Areas.A3.Models;
@model C402MFormModel

@if (Model.Grid != null)
{
    for (int i = 0; i < Model.Grid.Count; i++)
    {
        var item = Model.Grid[i];
        @Html.HiddenFor(m => m.Grid[i].ROWID)
        @Html.HiddenFor(m => m.Grid[i].Seq)

        <tr>
            <td>@item.ROWID</td>
            <td>@item.MeetingName</td>
            <td>@item.MeetingDateName</td>
            <td>@item.Location</td>
            <td align="center">
                <button type="button" class="btn btn-info" onclick="doAttend('@item.Seq','1')">&emsp;出席管理&emsp;</button>
                @*<button type="button" class="btn btn-primary" onclick="doAttendReport('@item.Seq')">匯出出席名單</button>*@
            </td>
        </tr>
    }
}