@using WKEFSERVICE.Services
@model WKEFSERVICE.Models.HomeModel

@if (Model.NewsGrid.ToCount() > 0)
{
<style type="text/css">
    /*style=*/
    .year-style { display: inline-block; margin-bottom: unset; color: #1B1B1D; }
    .month-style { display: inline-block; margin-bottom: unset; margin-right: 8px; }
    .day-style { display: inline-block; margin-bottom: unset; margin-right: 8px; color: #1B1B1D; }
    .published-unit-name { position: absolute; top: 50px; right: 30px; font-size: 1rem; }
    .absolute-icon { position: absolute; top: -5px; right: 25px; width: 30px; height: 30px; }
</style>

    for (int i = 0; i < Model.NewsGrid.Count; i++)
    {
        var item = Model.NewsGrid[i];
        string[] dateArr = new string[] { };
        DateTime dateWeek = DateTime.MinValue;

        if (item.PostDateS_Name.TONotNullString() != "")
        {
            dateArr = item.PostDateS_Name.TONotNullString().Split('/');
            dateWeek = new DateTime(dateArr[0].TOInt32() + 1911, dateArr[1].TOInt32(), dateArr[2].TOInt32());
        }

        @Html.HiddenFor(m => m.NewsGrid[i].ROWID)
        @Html.HiddenFor(m => m.NewsGrid[i].Seq)

        <li data-tu-an="fade right once" class="t-news-list-item">
            <div class="t-news-cnt">
                <div class="t-card-pin"></div>
                <div class="t-news-icon"></div>
                <dl class="t-news-date">
                    <dt>
                        <p class="date-year year-style">@dateArr[0]</p>
                    </dt>
                    <dd>
                        <p class="date-month month-style">@dateArr[1]/@dateArr[2]</p>
                        <p class="date-day day-style">@dateWeek.ToString("ddd")</p>
                    </dd>
                </dl>
                <a href="javascript:;" class="t-news-txt" onclick="doNewsDetail('@item.Seq')" onkeypress="doNewsDetail('@item.Seq')" title="「另開新視窗」前往最新消息：@item.PostCaption">@item.PostCaption</a>
                <div class="published-unit-name">@item.PublishedUnitName</div>
                @if (item.IsOnTop == "1")
                {
                    <svg class="absolute-icon">
                        <use href="#bi-bookmark-fill"></use>
                    </svg>
                }
            </div>
        </li>
    }
}
