@using WKEFSERVICE.Areas.AM.Models;
@model C102MViewModel
@{
    Layout = "~/Views/Backend/_BackendMainLayout.cshtml";
}
@using (Html.BeginForm("SaveAuth", "C102M", FormMethod.Post, htmlAttributes: new { id = "main_form", @class = "form-horizontal" }))
{
    <section id="btMeeting" class="bt-section pt-0">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-sm-12">
                    <div class="t-panel bt-section-edit">
                        <div class="bt-section-header t-flex align-items-baseline justify-content-between">
                            <!-- 抬頭 -->
                            <div class="t-flex align-items-baseline">
                                <h3 class="bt-section-heading">群組管理</h3>
                                <p class="bt-section-para">提供群組修改維護功能，並提供群組之可使用功能管理。</p>
                            </div>
                            <!-- 主按鈕 -->
                            <div class="t-flex">
                                <button type="button" class="btn btn--soft--dark btn--sm mr-2" onclick="doBack()">
                                    <i class="svg-icon mr-2" aria-hidden="true">
                                        <svg>
                                            <use href="#ic-arrow-l"></use>
                                        </svg>
                                    </i>
                                    回上一頁
                                </button>
                                <button type="button" class="btn btn--dimNavy btn--sm mr-2" onclick="doSearchAuth()">
                                    <i class="svg-icon mr-2" aria-hidden="true">
                                        <svg>
                                            <use href="#ic-search"></use>
                                        </svg>
                                    </i>
                                    查詢
                                </button>
                                <button type="button" class="btn btn--checked btn--sm" onclick="doSaveAuth()">
                                    <i class="svg-icon mr-2" aria-hidden="true">
                                        <svg>
                                            <use href="#ic-save"></use>
                                        </svg>
                                    </i>
                                    儲存
                                </button>
                            </div>
                        </div>
                        <!-- 主欄位 -->
                        <div class="bt-form-cnt">
                            <div class="t-form t-txt-left">
                                <div class="t-form-inline">
                                    <div class="t-form-group">
                                        @Html.LabelFor(m => m.SetAuth.GRPID, new { @class = "t-form-label" })
                                        @Html.TextBoxFor(m => m.SetAuth.GRPID, new { size = "30", maxlength = "4", placeholder = "", @class = "t-form-control ml-4", @readonly = "true", @disabled = "true" })
                                        @Html.HiddenFor(m => m.SetAuth.GRPID)
                                    </div>
                                    <div class="t-form-group">
                                        @Html.LabelFor(m => m.SetAuth.GRPNAME, new { @class = "t-form-label" })
                                        @Html.TextBoxFor(m => m.SetAuth.GRPNAME, new { size = "30", maxlength = "20", placeholder = "", @class = "t-form-control ml-4", @readonly = "true", @disabled = "true" })
                                        @Html.HiddenFor(m => m.SetAuth.GRPNAME)
                                    </div>
                                    <div class="t-form-group">
                                        @Html.LabelFor(m => m.SetAuth.MODULES, new { @class = "t-form-label" })
                                        @Html.DropDownListFor(m => m.SetAuth.MODULES, new SelectList(Model.SetAuth.MODULES_list, "Value", "Text", Model.SetAuth.MODULES), new { @class = "t-form-control ml-4" })
                                        @Html.HiddenFor(m => m.SetAuth.MODULES)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 明細 -->
                <div class="col-sm-12">
                    <div class="t-panel bt-section-result">
                        @if (Model.SetAuth.SetAuthGrid != null)
                        {
                            <div style="margin-bottom: 10px" align="right">
                                <button type="button" style="margin-left: 5px" class="btn btn-info" onclick="selectAll('main_form', 'Q')">查詢全選</button>
                                <button type="button" style="margin-left: 5px" class="btn btn-info" onclick="selectAll('main_form', 'I')">新增全選</button>
                                <button type="button" style="margin-left: 5px" class="btn btn-info" onclick="selectAll('main_form', 'U')">修改全選</button>
                                <button type="button" style="margin-left: 5px" class="btn btn-info" onclick="selectAll('main_form', 'D')">刪除全選</button>
                                <button type="button" style="margin-left: 5px" class="btn btn-info" onclick="selectAll('main_form', 'P')">列印全選</button>
                            </div>
                            <div class="t-table-cnt t-table-responsive table--dark">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0" class="t-table">
                                    <thead>
                                        <tr>
                                            <th align="left" width="10%">項次</th>
                                            <th align="left" width="20%">程式代號</th>
                                            <th align="left" width="20%">程式名稱</th>
                                            <th align="left" width="10%">查詢</th>
                                            <th align="left" width="10%">新增</th>
                                            <th align="left" width="10%">修改</th>
                                            <th align="left" width="10%">刪除</th>
                                            <th align="left" width="10%">列印</th>
                                        </tr>
                                    </thead>
                                    <tbody id="rows">
                                        @Html.Partial("_SetAuthGridRows")
                                    </tbody>
                                </table>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
}

<script type="text/javascript">

    // 全選
    function selectAll(formId, checkid) {
        $('#' + formId + ' input[checkid=' + checkid + ']').prop('checked', true);
    }

    // 回上一頁
    function doBack() {
        blockUI();
        var form = $("form[id=main_form]");
        form.attr('action', '@Url.Action("Index")').submit();
    }

    // 查詢
    function doSearchAuth() {
        blockUI();
        var form = $("form[id=main_form]");
        form.attr('action', '@Url.Action("SearchAuth")').submit();
    }

    // 儲存
    function doSaveAuth() {
        blockUI();
        var form = $("form[id=main_form]");
        form.attr('action', '@Url.Action("SaveAuth")').submit();
    }

</script>
