@using WKEFSERVICE.Models;
@using WKEFSERVICE.Services;
@using WKEFSERVICE.DataLayers;
@using WKEFSERVICE.Areas.A1.Models;
@model C101MViewModel

@{
    /// <summary>注意！提示：此 A3/C101M 之語法取自 AM/C201M，並做功能性刪減</summary>
    Layout = "~/Views/Shared/_MainLayout.cshtml";

    string PicPath = (Model.Detail.Sex == "F") ? "~/assets_new/images/avastarPlaceholders-girl.svg" : "~/assets_new/images/avastarPlaceholders.svg";
    if (!string.IsNullOrEmpty(Model.Detail.SelfPicPath))
    {
        string picfile1 = string.Concat(new AMDAO().UploadPathTeacher, Model.Detail.SelfPicPath);
        if (File.Exists(Server.MapPath(picfile1))) { PicPath = picfile1; }
    }
    string svg10Ratio3 = "~/assets_new/images/10Ratio3.3333_v1.svg";

    string[] SubItemStyleColors = new string[] { "secondary", "primary", "tertiary", "quaternary", "success", "warning", "info" };
    string strNoShow = "不公開";
    string strEmailWork = strNoShow;
    string strEmail = strNoShow;
    string strEmailWorkmt = strNoShow;
    string strEmailmt = strNoShow;
    string strPhone = strNoShow;
    string strTel = strNoShow;
    string strBirthday = strNoShow;
    string strAddress = strNoShow;
    string strPostCode = "";
    if (Model.Detail.PostalCode1.TONotNullString() != "") { strPostCode = Model.Detail.PostalCode1; }
    if (Model.Detail.PostalCode2.TONotNullString() != "") { strPostCode = strPostCode + "-" + Model.Detail.PostalCode2; }
    if (strPostCode != "") { strPostCode = "(" + strPostCode + ") "; }
    if (Model.Detail.IsShowEmailWork.TONotNullString() == "Y")
    {
        strEmailWork = Model.Detail.EmailWork;
        strEmailWorkmt = "mailto:" + strEmailWork;
    }
    if (Model.Detail.IsShowEmail.TONotNullString() == "Y")
    {
        strEmail = Model.Detail.Email;
        strEmailmt = "mailto:" + strEmail;
    }
    if (Model.Detail.IsShowPhone.TONotNullString() == "Y") { strPhone = Model.Detail.Phone; }
    if (Model.Detail.IsShowTel.TONotNullString() == "Y") { strTel = Model.Detail.Tel; }
    if (Model.Detail.IsShowBirthday.TONotNullString() == "Y") { strBirthday = Model.Detail.Birthday; }
    if (Model.Detail.IsShowAddress.TONotNullString() == "Y") { strAddress = strPostCode + Model.Detail.Address; }
    string SexMark = (Model.Detail.Sex == "F" ? "♀" : "♂");
    string[] UrlLists = new string[] { };
    string ConfigModelWKEF = (ConfigModel.WKEF == "") ? "20221128" : ConfigModel.WKEF;
    if (Request.UrlReferrer != null) { UrlLists = Request.UrlReferrer.AbsoluteUri.Replace(ConfigModelWKEF, "").Split('/'); }
    string strUrl = "Index";
    string strUp = "課程師資介紹";
    if (UrlLists.ToCount() >= 6 && UrlLists[5] != "") { strUrl = UrlLists[5]; }
    if (strUrl == "Index") { strUp = "搜尋師資"; }
}

@using (Html.BeginForm("Index", "C101M", FormMethod.Post, htmlAttributes: new { id = "main_form", @class = "form-horizontal" }))
{
    <!-- Breadcrumbs -->
    <section class="t-breadcrumbs-section">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <ul class="t-breadcrumbs">
                    <li class="t-breadcrumbs-item">
                        <a href="#C" title="中央功能區塊, 快速鍵: Alt+C " id="AC" accesskey="C" name="C" class="quicklink t-header-top-list-link">:::</a>
                        目前位置： <a class="t-link" href="~/" title="回首頁">首頁</a>
                    </li>
                    <li class="t-breadcrumbs-item"><a class="t-link" href="javascript:;" onclick="doBack()" onkeypress="doBack()" title="回師資介紹清單">@strUp</a></li>
                    <li class="t-breadcrumbs-item">師資介紹</li>
                </ul>
            </div>
        </div>
    </section>
    <!-- 師資介紹 -->
    <section class="t-teacher-page">
        <div class="container">
            <div class="t-wrapper-inner">
                <button type="reset" class="btn btn--soft--dark btn--md mb-4" onclick="doBack()" onkeypress="doBack()" title="點擊以回上頁 (@strUp)">
                    <i class="svg-icon svg-icon-1x t-v-align-bottom mr-2" aria-hidden="true">
                        <svg>
                            <use href="#ic-arrow-l"></use>
                        </svg>
                    </i>
                    回上頁 (@strUp)
                </button>
                <!-- 師資介紹 Start -->
                <a name="academic_info" id="academic_info"></a>
                <div id="Info" class="t-info-item" data-profile="academic_info">
                    <div class="t-form-legend-info t-inline-flex">
                        @*<h3 class="t-inline-flex" style="margin-top: 10px;">師資介紹</h3>*@
                        <span class="t-inline-flex" style="margin-top: 05px; font-size: max(1.3125rem, min(3.5vw, 1.75rem)); font-weight: bold;">師資介紹</span>
                    </div>
                    <div class="t-panel bt-section-search">
                        <div class="t-panel-main">
                            <div class="mask mask-card-ruler"></div>
                            <div class="mask mask-brand-wda-logo-backgrounds"></div>
                            <div class="t-panel-item-img-container">
                                <a class="t-panel-img t-img-overlay" data-fslightbox="gallery" href="@Url.Content(PicPath)">
                                    <picture>
                                        <source src="@Url.Content(PicPath)" data-src="@Url.Content(svg10Ratio3)">
                                        <img src="@Url.Content(PicPath)" alt="@Model.Detail.TeacherName" class="t-lazy-load" width="160" height="188" />
                                    </picture>
                                </a>
                            </div>
                            <div class="t-panel-item-cnt">
                                <dl class="t-definition-list">
                                    <dt class="t-definition-term" hidden>
                                        @Model.Detail.CombineName
                                    </dt>
                                    <dd class="t-definition-description ml-0">
                                        <span data-grad-under="info" class="t-panel-title">
                                            @Model.Detail.TeacherName
                                        </span>
                                        <span data-grad-under="secondary" class="t-panel-sub-title">
                                            @Model.Detail.TeacherEName
                                            &nbsp;
                                            @SexMark
                                            &nbsp;
                                        </span>
                                    </dd>
                                </dl>
                                @*<div class="t-panel-main-txt">前一年度授課總時數：<big>0</big> 小時</div>*@
                                <ul class="t-list-txts mb-2">
                                    @*<li class="t-list-txts-item">DC： <big class="t-fw-500">0</big> 小時</li>
                                        <li class="t-list-txts-item">BC： <big class="t-fw-500">0</big> 小時</li>
                                        <li class="t-list-txts-item">KC： <big class="t-fw-500">0</big> 小時</li><div>(執行中，尚無統計資料)</div>*@
                                    @if (Model.Detail.TeachJobAbilityDC.TONotNullString() == "Y")
                                    {
                                        <li class="t-list-txts-item">
                                            DC： <big class="t-fw-500">@Model.Detail.R1_THOURS_TRANSDATA_DC</big> 小時
                                        </li>
                                    }
                                    @if (Model.Detail.TeachJobAbilityBC.TONotNullString() == "Y")
                                    {
                                        <li class="t-list-txts-item">
                                            BC： <big class="t-fw-500">@Model.Detail.R1_THOURS_TRANSDATA_BC</big> 小時
                                        </li>
                                    }
                                    @if (Model.Detail.TeachJobAbilityKC.TONotNullString() == "Y")
                                    {
                                        <li class="t-list-txts-item">
                                            KC： <big class="t-fw-500">@Model.Detail.R1_THOURS_TRANSDATA_KC</big> 小時
                                        </li>
                                    }
                                    <li class="t-list-txts-item">
                                        <div>(前一年度總授課時數)</div>
                                    </li>
                                </ul>
                                <dl class="t-definition-list">
                                    <dt class="t-definition-term">
                                        聯絡電話
                                    </dt>
                                    <dd data-tu-inlineEdit="true" data-tu-inlineEdit-label="聯絡電話" data-tu-inlineEdit-name="userInfo" data-tu-inlineEdit-id="UserPhone" data-tu-inlineEdit-placeholder="請輸入您的聯絡電話" class="t-definition-description">
                                        @strTel
                                    </dd>
                                </dl>
                                <dl class="t-definition-list">
                                    <dt class="t-definition-term">
                                        聯絡手機
                                    </dt>
                                    <dd data-tu-inlineEdit="true" data-tu-inlineEdit-label="聯絡手機" data-tu-inlineEdit-name="userInfo" data-tu-inlineEdit-id="UserPhone" data-tu-inlineEdit-placeholder="請輸入您的聯絡手機" class="t-definition-description">
                                        @strPhone
                                    </dd>
                                </dl>
                                <dl class="t-definition-list">
                                    <dt class="t-definition-term">
                                        出生日期
                                    </dt>
                                    <dd data-tu-inlineEdit="true" data-tu-inlineEdit-label="出生日期" data-tu-inlineEdit-name="UserBirth" data-tu-inlineEdit-id="UserBirth" data-tu-inlineEdit-placeholder="請輸入您的出生日期" class="t-definition-description">
                                        @strBirthday
                                    </dd>
                                </dl>
                                <dl class="t-definition-list">
                                    <dt class="t-definition-term">
                                        電子郵件
                                    </dt>
                                    <dd class="t-definition-description">
                                        @if (strEmail == strNoShow)
                                        {
                                            @strNoShow
                                        }
                                        else
                                        {
                                            <a data-tu-inlineEdit="true" data-tu-inlineEdit-label="電子郵件" data-tu-inlineEdit-name="userInfo" data-tu-inlineEdit-id="UserMail" data-tu-inlineEdit-placeholder="請輸入您的電子郵件" href="@strEmailmt" title="@strEmail" data-under="primary">
                                                @strEmail
                                            </a>
                                        }
                                    </dd>
                                </dl>
                                <dl class="t-definition-list">
                                    <dt class="t-definition-term t-relative">
                                        電子郵件 (工作)
                                    </dt>
                                    <dd class="t-definition-description">
                                        @if (strEmailWork == strNoShow)
                                        {
                                            @strNoShow
                                        }
                                        else
                                        {
                                            <a data-tu-inlineEdit="true" data-tu-inlineEdit-label="電子郵件" data-tu-inlineEdit-name="userInfo" data-tu-inlineEdit-id="UserMailWork" data-tu-inlineEdit-placeholder="請輸入您的電子郵件 " href="@strEmailWorkmt" title="@strEmailWork" data-under="primary">
                                                @strEmailWork
                                            </a>
                                        }
                                    </dd>
                                </dl>
                                <dl class="t-definition-list">
                                    <dt class="t-definition-term">
                                        聯絡地址
                                    </dt>
                                    <dd data-tu-inlineEdit="true" data-tu-inlineEdit-label="聯絡地址" data-tu-inlineEdit-name="userInfo" data-tu-inlineEdit-id="userAdress" data-tu-inlineEdit="true" data-tu-inlineEdit-placeholder="請輸入您的聯絡地址" class="t-definition-description">
                                        @strAddress
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 師資介紹 End -->
                <!-- 最高學歷 Start -->
                <a name="academic_highesteducation" id="academic_highesteducation"></a>
                <div id="Highest_Education" class="t-info-item" data-profile="academic_highesteducation">
                    <div class="t-panel bt-section-search">
                        <div class="t-panel-heading">
                            <i class="svg-icon svg-icon-2x" aria-hidden="true">
                                <svg>
                                    <use href="#ic-education"></use>
                                </svg>
                            </i>
                            <div class="t-panel-heading-txt" data-title="HIGHEST EDUCATION">最高學歷</div>
                        </div>
                        <div class="t-panel-main">
                            <div class="t-panel-main-fuild">
                                @Model.Detail.EduLevelHighest_Name
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 最高學歷 End -->
                <!-- 學歷背景 Start -->
                <a name="academic_education" id="academic_education"></a>
                <div id="Education" class="t-info-item" data-profile="academic_education">
                    <div class="t-panel bt-section-search">
                        <div class="t-panel-heading">
                            <i class="svg-icon svg-icon-2x" aria-hidden="true">
                                <svg>
                                    <use href="#ic-education"></use>
                                </svg>
                            </i>
                            <div class="t-panel-heading-txt" data-title="EDUCATION">學歷背景</div>
                        </div>
                        <div class="t-panel-main">
                            <div class="t-panel-main-fuild">
                                <ul class="t-timeline">
                                    @if (@Model.Detail.EduSchool1.TONotNullString() != "")
                                    {
                                        <li class="t-timeline-item">
                                            <div class="t-timeline-marker"></div>
                                            <div class="t-timeline-content">
                                                <div class="t-timeline-title">@Model.Detail.EduSchool1</div>
                                                <ul class="t-list-txts">
                                                    <li class="t-list-txts-item">@Model.Detail.EduDept1</li>
                                                    <li class="t-list-txts-item">@Model.Detail.EduLevel1_Name</li>
                                                </ul>
                                            </div>
                                        </li>
                                    }
                                    @if (@Model.Detail.EduSchool2.TONotNullString() != "")
                                    {
                                        <li class="t-timeline-item">
                                            <div class="t-timeline-marker"></div>
                                            <div class="t-timeline-content">
                                                <div class="t-timeline-title">@Model.Detail.EduSchool2</div>
                                                <ul class="t-list-txts">
                                                    <li class="t-list-txts-item">@Model.Detail.EduDept2</li>
                                                    <li class="t-list-txts-item">@Model.Detail.EduLevel2_Name</li>
                                                </ul>
                                            </div>
                                        </li>
                                    }
                                    @if (@Model.Detail.EduSchool3.TONotNullString() != "")
                                    {
                                        <li class="t-timeline-item">
                                            <div class="t-timeline-marker"></div>
                                            <div class="t-timeline-content">
                                                <div class="t-timeline-title">@Model.Detail.EduSchool3</div>
                                                <ul class="t-list-txts">
                                                    <li class="t-list-txts-item">@Model.Detail.EduDept3</li>
                                                    <li class="t-list-txts-item">@Model.Detail.EduLevel3_Name</li>
                                                </ul>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 學歷背景 End -->
                <!-- 服務單位/職稱 Start -->
                <a name="academic_employment " id="academic_employment"></a>
                <div id="Employment" class="t-info-item" data-profile="academic_employment">
                    <div class="t-panel bt-section-search">
                        <div class="t-panel-heading">
                            <i class="svg-icon svg-icon-2x" aria-hidden="true">
                                <svg>
                                    <use href="#ic-briefcase"></use>
                                </svg>
                            </i>
                            <div class="t-panel-heading-txt" data-title="EMPLOYMENT HISTORY">服務單位/職稱</div>
                        </div>
                        <div class="t-panel-main">
                            <div class="t-panel-main-fuild">
                                <ul class="t-timeline">
                                    @if (@Model.Detail.ServiceUnit1.TONotNullString() != "")
                                    {
                                        <li class="t-timeline-item">
                                            <div class="t-timeline-marker"></div>
                                            <div class="t-timeline-content">
                                                <div class="t-timeline-title">@Model.Detail.ServiceUnit1</div>
                                                <ul class="t-list-txts"><li class="t-list-txts-item">@Model.Detail.JobTitle1</li></ul>
                                            </div>
                                        </li>
                                    }
                                    @if (@Model.Detail.ServiceUnit2.TONotNullString() != "")
                                    {
                                        <li class="t-timeline-item">
                                            <div class="t-timeline-marker"></div>
                                            <div class="t-timeline-content">
                                                <div class="t-timeline-title">@Model.Detail.ServiceUnit2</div>
                                                <ul class="t-list-txts"><li class="t-list-txts-item">@Model.Detail.JobTitle2</li></ul>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 服務單位/職稱 End -->
                <!-- 所屬轄區 Start -->
                @*
                    <a name="academic_unit" id="academic_unit"></a>
                    <div id="Unit" class="t-info-item" data-profile="academic_unit">
                        <div class="t-panel bt-section-search">
                            <div class="t-panel-heading">
                                <i class="svg-icon svg-icon-2x" aria-hidden="true">
                                    <svg>
                                        <use href="#ic-location"></use>
                                    </svg>
                                </i>
                                <div class="t-panel-heading-txt" data-title="UNIT">所屬轄區</div>
                            </div>
                            <div class="t-panel-main">
                                <div class="t-panel-main-fuild">
                                    @Model.Detail.UnitName
                                </div>
                            </div>
                        </div>
                    </div>
                *@
                <!-- 所屬轄區 End -->
                <!-- 專長/領域 Start -->
                <a name="academic_expertise" id="academic_"></a>
                <div id="Expertise" class="t-info-item" data-profile="academic_expertise">
                    <div class="t-panel bt-section-search">
                        <div class="t-panel-heading">
                            <i class="svg-icon svg-icon-2x" aria-hidden="true">
                                <svg>
                                    <use href="#ic-medal-star"></use>
                                </svg>
                            </i>
                            <div class="t-panel-heading-txt" data-title="EXPERTISE">專長/領域</div>
                        </div>
                        <div class="t-panel-main">
                            <div class="t-panel-main-fuild">
                                @*<ul><li class="t-timeline-item"></li></ul>*@
                                <div class="t-para" style="white-space: pre-line; width: 100%;">@Model.Detail.ExpertiseDesc</div>
                                <div class="teachers-list-item-lab-cobtainer" style="width: 100%;">
                                    <div class="t-label-list flex-row" style="word-wrap: break-word; white-space: normal;">
                                        @if (Model.Detail.Expertise_List.ToCount() > 0)
                                        {
                                            for (int j = 0; j < Model.Detail.Expertise_List.Length; j++)
                                            {
                                                var itemSub = Model.Detail.Expertise_List[j];
                                                if (itemSub.TONotNullString() == "") { continue; }
                                                var SubItemStyleColor = SubItemStyleColors[j % SubItemStyleColors.Length];
                                                <label class="t-badge t-badge-light-@SubItemStyleColor" data-bs-toggle="tooltip" aria-label="@itemSub" data-bs-placement="top">
                                                    @itemSub
                                                </label>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 專長/領域 End -->
                <!-- 職能類別 Start -->
                <a name="academic_skills" id="academic_skills"></a>
                <div id="Skills" class="t-info-item" data-profile="academic_skills">
                    <div class="t-panel bt-section-search">
                        <div class="t-panel-heading">
                            <i class="svg-icon svg-icon-2x" aria-hidden="true">
                                <svg>
                                    <use href="#ic-diamond"></use>
                                </svg>
                            </i>
                            <div class="t-panel-heading-txt" data-title="SKILLS">職能類別</div>
                        </div>
                        <div class="t-panel-main">
                            <div class="t-panel-main-fuild">
                                <div class="t-label-list flex-row">
                                    @if (Model.Detail.TeachJobAbilityKC.TONotNullString() == "Y")
                                    {
                                        <label class="t-badge t-badge-light-secondary" data-bs-toggle="tooltip" title="飛航、服務、管理就業學程" aria-label="飛航、服務、管理就業學程" data-bs-placement="top">
                                            知識職能 (KC)
                                        </label>
                                    }
                                    @if (Model.Detail.TeachJobAbilityBC.TONotNullString() == "Y")
                                    {
                                        <label class="t-badge t-badge-light-warning" data-bs-toggle="tooltip" title="飛航、服務、管理就業學程" aria-label="飛航、服務、管理就業學程" data-bs-placement="top">
                                            行為職能 (BC)
                                        </label>
                                    }
                                    @if (Model.Detail.TeachJobAbilityDC.TONotNullString() == "Y")
                                    {
                                        <label class="t-badge t-badge-light-primary" data-bs-toggle="tooltip" title="飛航、服務、管理就業學程" aria-label="飛航、服務、管理就業學程" data-bs-placement="top">
                                            動機職能 (DC)
                                        </label>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 職能類別 End -->
                <!-- 授課區域 Start -->
                <a name="academic_teacharea" id="academic_teacharea"></a>
                <div id="TeachArea" class="t-info-item" data-profile="academic_teacharea">
                    <div class="t-panel bt-section-search">
                        <div class="t-panel-heading">
                            <i class="svg-icon svg-icon-2x" aria-hidden="true">
                                <svg>
                                    <use href="#ic-map"></use>
                                </svg>
                            </i>
                            <div class="t-panel-heading-txt" data-title="TEACH AREA">授課區域</div>
                        </div>
                        <div class="t-panel-main">
                            <div class="t-panel-main-fuild" style="word-wrap: break-word; white-space: pre-line;">
                                <div class="t-para">@Model.Detail.TeachArea_Name</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 授課區域 End -->
                <!-- 授課產業別 Start -->
                <a name="academic_teachindustry" id="academic_teachindustry"></a>
                <div id="TeachIndustry" class="t-info-item" data-profile="academic_teachindustry">
                    <div class="t-panel bt-section-search">
                        <div class="t-panel-heading">
                            <i class="svg-icon svg-icon-2x" aria-hidden="true">
                                <svg>
                                    <use href="#ic-map"></use>
                                </svg>
                            </i>
                            <div class="t-panel-heading-txt" data-title="TEACH INDUSTRY">授課產業別</div>
                        </div>
                        <div class="t-panel-main">
                            <div class="t-panel-main-fuild" style="word-wrap: break-word; white-space: pre-line;">
                                <div class="t-para">@Model.Detail.Industry_Name</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 授課產業別 End -->
                <!-- 產學類別 Start -->
                <a name="academic_IndustryAcademicType" id="academic_IndustryAcademicType"></a>
                <div id="IndustryAcademicType" class="t-info-item" data-profile="academic_IndustryAcademicType">
                    <div class="t-panel bt-section-search">
                        <div class="t-panel-heading">
                            <i class="svg-icon svg-icon-2x" aria-hidden="true">
                                <svg>
                                    <use href="#ic-location"></use>
                                </svg>
                            </i>
                            <div class="t-panel-heading-txt" data-title="INDUSTRY ACADEMIC">產學類別</div>
                        </div>
                        <div class="t-panel-main">
                            <div class="t-panel-main-fuild">
                                @Model.Detail.IndustryAcademicType_Name
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 產學類別 End -->
                <!-- 工作經歷 Start -->
                <a name="academic_workhistory" id="academic_workhistory"></a>
                <div id="WorkHistory" class="t-info-item" data-profile="academic_workhistory">
                    <div class="t-panel bt-section-search">
                        <div class="t-panel-heading">
                            <i class="svg-icon svg-icon-2x" aria-hidden="true">
                                <svg>
                                    <use href="#ic-archive-book"></use>
                                </svg>
                            </i>
                            <div class="t-panel-heading-txt" data-title="WORK HISTORY">工作經歷</div>
                        </div>
                        <div class="t-panel-main">
                            <div class="t-panel-main-fuild" style="word-wrap: break-word; white-space: pre-line;">
                                <div class="t-para">@Model.Detail.WorkHistory</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 工作經歷 End -->
                <!-- 專業證照 Start -->
                <a name="academic_prolicense" id="academic_prolicense"></a>
                <div id="ProLicense" class="t-info-item" data-profile="academic_prolicense">
                    <div class="t-panel bt-section-search">
                        <div class="t-panel-heading">
                            <i class="svg-icon svg-icon-2x" aria-hidden="true">
                                <svg>
                                    <use href="#ic-cup"></use>
                                </svg>
                            </i>
                            <div class="t-panel-heading-txt" data-title="PROFESSIONAL LICENSE">專業證照</div>
                        </div>
                        <div class="t-panel-main">
                            <div class="t-panel-main-fuild" style="word-wrap: break-word; white-space: pre-line;">
                                <div class="t-para">@Model.Detail.ProLicense</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 專業證照 End -->
                <!-- 自我簡介 Start -->
                <a name="academic_selfintroduction" id="academic_selfintroduction"></a>
                <div id="SelfIntroduction" class="t-info-item" data-profile="academic_selfintroduction">
                    <div class="t-panel bt-section-search">
                        <div class="t-panel-heading">
                            <i class="svg-icon svg-icon-2x" aria-hidden="true">
                                <svg>
                                    <use href="#ic-3d-square"></use>
                                </svg>
                            </i>
                            <div class="t-panel-heading-txt" data-title="SELF INTRODUCTION">自我簡介</div>
                        </div>
                        <div class="t-panel-main">
                            <div class="t-panel-main-fuild" style="word-wrap: break-word; white-space: pre-line;">
                                <div class="t-para">@Model.Detail.SelfIntroduction</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 自我簡介 End -->
                <!-- 曾開授課程 Start -->
                @*<a name="academic_classhistory" id="academic_classhistory"></a>
                    <div id="ClassHistory" class="t-info-item" data-profile="academic_classhistory">
                        <div class="t-panel bt-section-search">
                            <div class="t-panel-heading">
                                <i class="svg-icon svg-icon-2x" aria-hidden="true">
                                    <svg>
                                        <use href="#ic-3d-square"></use>
                                    </svg>
                                </i>
                                <div class="t-panel-heading-txt" data-title="CLASS HISTORY">曾開授課程</div>
                            </div>
                            <div class="t-panel-main">
                                <div class="t-panel-main-fuild">
                                    敬請期待
                                </div>
                            </div>
                        </div>
                    </div>*@
                <!-- 曾開授課程 End -->
            </div>
        </div>
    </section>
}

<script type="text/javascript">

    // 回上一頁
    function doBack() {
        blockUI();
        var form = $("form[id=main_form]");
        form.attr('action', '@Url.Action(strUrl, "C101M")').submit();
    }

</script>
