@using WKEFSERVICE.Areas.A2.Models;
@model C502MFormModel
@{
    Layout = "~/Views/Backend/_BackendMainLayout.cshtml";
}

@using (Html.BeginForm("Index", "C502M", FormMethod.Post, htmlAttributes: new { id = "main_form", @class = "form-horizontal" }))
{
    <section id="BtLog" class="bt-section pt-0">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-sm-12">
                    <div class="t-panel bt-section-search">
                        <!-- 抬頭 -->
                        <div class="bt-section-header t-flex align-items-baseline justify-content-start">
                            <h3 class="bt-section-heading">教學自我審核報告</h3>
                            <p class="bt-section-para">提供教師可針對個人各年度之教學自我審核報告進行線上填寫、修改、刪除、查看審核狀態、列印等功能。</p>
                        </div>
                        <!-- 過濾條件 -->
                        <div class="t-tab-contents">
                            <div id="tab_content_1" class="t-tab-content">
                                @*@Html.ControlForTurbo(Model)*@
                                @Html.HiddenFor(x => x.Seq_forDel)
                                <div class="t-form t-txt-left bt-form-cnt">
                                    <legend class="t-legend" style="width: unset;">查詢條件設定</legend>
                                    <div class="t-form-inline">
                                        <div class="t-form-group">
                                            @Html.LabelFor(m => m.Year, new { @class = "t-form-label" })
                                            @Html.DropDownListFor(m => m.Year, new SelectList(Model.Year_list, "Value", "Text", Model.Year), new { @class = "t-form-control ml-4" })
                                        </div>
                                    </div>
                                    <div class="t-form-inline t-form-btns">
                                        <div class="t-form-group mb-0">
                                            <button type="reset" class="btn btn--soft--dark" onclick="doSearchClear()">
                                                <i class="svg-icon t-v-align-bottom" aria-hidden="true">
                                                    <svg>
                                                        <use href="#ic-reset"></use>
                                                    </svg>
                                                </i>
                                                清空條件
                                            </button>
                                            <button type="button" class="btn btn--quaternary" onclick="doNew()">
                                                <i class="svg-icon t-v-align-bottom" aria-hidden="true">
                                                    <svg>
                                                        <use href="#ic-add"></use>
                                                    </svg>
                                                </i>
                                                新增報告
                                            </button>
                                            <button type="button" class="btn btn--quaternary w-80" onclick="doSearch()">
                                                <i class="svg-icon svg-icon-2x t-v-align-bottom" aria-hidden="true">
                                                    <svg>
                                                        <use href="#ic-search"></use>
                                                    </svg>
                                                </i>
                                                查詢
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="t-panel bt-section-result">
                        @if (Model.Grid != null)
                        {
                            @Html.Partial("_PagingLink", Model)
                            <div class="t-table-cnt t-table-responsive table--dark">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0" class="t-table">
                                    <thead>
                                        <tr>
                                            <th align="left" width="10%">項次</th>
                                            <th align="left" width="10%">年度</th>
                                            <th align="left" width="15%">送件時間</th>
                                            <th align="left" width="15%">職能類別</th>
                                            <th align="left" width="15%">更新時間</th>
                                            <th align="left" width="15%">審核狀態</th>
                                            <th align="left" width="20%">功能</th>
                                        </tr>
                                    </thead>
                                    <tbody id="rows">
                                        @Html.Partial("_GridRows")
                                    </tbody>
                                </table>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
}

<form name="reportQuery" id="reportQuery" action="" method="post" novalidate="novalidate" class="form-horizontal">
    @Html.Hidden("RptId")
    @Html.Hidden("Seq")
</form>

<script type="text/javascript">

    // 查詢清除
    function doSearchClear() {
        $('#Year option').removeAttr('selected');
    }

    // 查詢
    function doSearch() {
        blockUI();
        var form = $("form[id=main_form]");
        form.attr('action', '@Url.Action("Index")').submit();
    }

    // 上傳報告
    function doNew() {
        var url = '@Url.Action("New", "C502M")';
        window.location = url;
    }

    // 修改
    function doUpd(Seq) {
        var data = { "Seq": Seq }
        var url = '@Url.Action("Detail", "C502M")?' + $.param(data);
        window.location = url;
    }

    // 刪除
    function doDel(Seq, RowId) {
        blockConfirm("您確定要刪除此筆資料嗎？" + "項次：" + RowId, null, function () {
            var form = $("form[id=main_form]");
            $("#Seq_forDel").val(Seq);
            form.attr('action', '@Url.Action("Delete")').submit();
        });
    }

    // 列印
    function doPDF(Seq) {
        $("#reportQuery #RptId").val("A2C502M");
        $("#reportQuery #Seq").val(Seq);
        $("form[name=reportQuery]").attr("action", "@Url.Content("~/Report/PDF")").submit();
    }

</script>